{
    "extends": "../.eslintrc",
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "no-console": "off"
    },
    "env": {
        "node": true,
        "es6": true
    }
}