{
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": ["import"],
    "parserOptions": {
        "sourceType": "module"
    },
    "globals": {
        "HEAPU8": false,
        "HEAPU16": false,
        "HEAPU32": false,
        "HEAPF64": false,
        "UTF8ToString": false,
        "UTF16ToString": false,
        "lengthBytesUTF8": false,
        "stringToUTF8": false,
        "lengthBytesUTF16": false,
        "stringToUTF16": false,
        "writeAsciiToMemory": false,
        "global": false,
        "self": false,
        "Symbol": false,
        "ArrayBuffer": false,
        "Module": false,
        "module": false
    }
}
